<div  class="right-editor-wrap">
    <div class="card border-0 editor-head">
        <div class="card-header p-0 border-0 bg-transparent">
            <a class="btn btn-back iconfont icon-back rolate180 flipx py-1 px-2 hand" (click)="_onCancel()"></a>
        </div>
        <div class="card-header text-headline border-0 bg-transparent py-0 relative">
            <h6 class="border-theme border-bottom px-0 py-2 m-0 text-headline">工作组</h6>
            <div class="absolute-top-right pr-3">
                <button class="btn btn-sm btn-primary border-radius hand" (click)="add(form)"
                        *ngIf="!workgroup.work_group_id && !workgroup.readonly" [class.btn-danger]="!form.valid"
                        [disabled]="!form.valid">
                    新&#12288;增
                </button>
                <button class="btn btn-sm btn-primary border-radius hand" (click)="edit(form)"
                        *ngIf="workgroup.work_group_id && !workgroup.readonly" [class.btn-danger]="!form.valid"
                        [disabled]="!form.valid">
                    修&#12288;改
                </button>
                <button class="btn btn-sm border-radius hand" (click)="_onCancel()" *ngIf="!workgroup.readonly">返&#12288;回</button>
            </div>
        </div>
    </div>
    <div  class="editor-content" aiScrollBar [alwaysShow]="true">
        <div  class="card border-0">
            <div class="card-block text-base form-sm">
                <form name="form" #form="ngForm" action="javascript:;">
                    <div class="form-group form-group-sm row">
                        <label class="col-form-label col-form-label-sm col-2">工作组名称</label>
                        <div class="col-3">
                            <input class="form-control form-control-sm" type="text" name="work_group_name" maxlength="10"
                                   required [(ngModel)]="workgroup.work_group_name" placeholder="工作组名称">
                        </div>
                        <label class="col-form-label col-form-label-sm col-2">编号</label>
                        <div class="col-3">
                            <input class="form-control form-control-sm" type="text" name="code" maxlength="10"
                                   [(ngModel)]="workgroup.code" placeholder="系统自动生成" readonly>
                        </div>
                    </div>
                    <div class="form-group form-group-sm row">
                        <label class="col-form-label col-form-label-sm col-2">创建员工</label>
                        <div class="col-3">
                            <input class="form-control form-control-sm" type="text" name="op_id" maxlength="10"
                                   [(ngModel)]="workgroup.op_id" placeholder="系统自动生成" readonly>
                        </div>
                        <label class="col-form-label col-form-label-sm col-2">岗位状态</label>
                        <div class="col-3">
                            <select class="form-control form-control-sm" name="state" [(ngModel)]="workgroup.state"
                                    required>
                                <option value=1>正常</option>
                                <option value=0>注销</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-group-sm row">
                        <label class="col-form-label col-form-label-sm col-2">备注</label>
                        <div class="col-8">
                    <textarea class="form-control form-control-sm" rows="5" name="notes" maxlength="200"
                              [(ngModel)]="workgroup.notes" placeholder="备注" required></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div  class="card border-0">
            <div class="card-block pt-0" >
                <ai-system-workgroup-user [workgroup]="workgroup" *ngIf="workgroup&&workgroup.work_group_id"></ai-system-workgroup-user>
            </div>
        </div>
    </div>
</div>