<div class="right-editor-wrap">
    <div class="card border-0 editor-head">
        <div class="card-header p-0 border-0 bg-transparent">
            <a class="btn btn-back iconfont icon-back rolate180 flipx py-1 px-2 hand" (click)="_onCancel()"></a>
        </div>
        <div class="card-header text-headline border-0 bg-transparent py-0 relative">
            <h6 class="border-theme border-bottom px-0 py-2 m-0 text-headline">[{{dictionary.param_type}}]{{dictionary.param_name}}</h6>
        </div>
    </div>
    <div class="editor-content" aiScrollBar [alwaysShow]="true">
        <div class="card border-0 bg-transparent">
            <div class="card-block p-0">
                <table class="table custom-table table-striped table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>名字</th>
                        <th>编号</th>
                        <th>主键</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center" *ngFor="let item of dictionaryList;let i = index;">
                        <td width="60px">{{item.param_no}}</td>
                        <td>{{item.param_name}}</td>
                        <td>{{item.param_no}}</td>
                        <td>{{item.param_id}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
