<div class="demand-edit-base-wrap card border-0 bg-transparent">
    <div class="card-header border-0 light-title bg-transparent pt-2 pb-2 pl-1 pr-1">
        <span>需求基本信息</span>
    </div>
    <div class="card-block p-1 pt-4">
        <div class="form-group form-group-sm row">
            <label class="col-form-label col-form-label-sm col-1">需求编码</label>
            <div class="col-3">
            </div>
            <label class="col-form-label col-form-label-sm col-1">需求名称</label>
            <div class="col-7">
            </div>
        </div>
        <div class="form-group form-group-sm row">
            <label class="col-form-label col-form-label-sm col-1">提交公司</label>
            <div class="col-3">
            </div>
            <label class="col-form-label col-form-label-sm col-1">提出部门</label>
            <div class="col-3">
            </div>
            <label class="col-form-label col-form-label-sm col-1">提出人</label>
            <div class="col-3">
            </div>
        </div>
        <div class="form-group form-group-sm row">
            <label class="col-form-label col-form-label-sm col-1">联系电话</label>
            <div class="col-3">
            </div>
            <label class="col-form-label col-form-label-sm col-1">联系邮箱</label>
            <div class="col-3">
            </div>
            <label class="col-form-label col-form-label-sm col-1">提出时间</label>
            <div class="col-3">
            </div>
        </div>
        <div class="form-group form-group-sm row">
            <label class="col-form-label col-form-label-sm col-1">需求类型</label>
            <div class="col-3">
            </div>
            <label class="col-form-label col-form-label-sm col-1">优先级</label>
            <div class="col-3">
            </div>
            <label class="col-form-label col-form-label-sm col-1">完成时间</label>
            <div class="col-3">
            </div>
        </div>
        <div class="form-group form-group-sm row">
            <label class="col-form-label col-form-label-sm col-1">版本特点</label>
            <div class="col-3">
            </div>
            <label class="col-form-label col-form-label-sm col-1">复杂度</label>
            <div class="col-3">
            </div>
            <label class="col-form-label col-form-label-sm col-1">使用范围</label>
            <div class="col-3">
            </div>
        </div>
        <div class="form-group form-group-sm row">
            <label class="col-form-label col-form-label-sm col-1">业务模板</label>
            <div class="col-3">
            </div>
            <label class="col-form-label col-form-label-sm col-1">支撑系统</label>
            <div class="col-7">
            </div>
        </div>
        <div class="form-group form-group-sm row">
            <label class="col-form-label col-form-label-sm col-1">特点类型</label>
            <div class="col-11">
            </div>
        </div>
    </div>
</div>