<div class="relative" ngbDropdown #orgDrop="ngbDropdown" [autoClose]="false" [up]="true">
    <div class="dropdown-menu dropdown-menu-right p-0" style="height: 300px;">
        <ai-selector-org [needButton]="true" (onCancel)="closeOrgDrop()"
                         (onSubmit)="addUserOrg($event)"></ai-selector-org>
    </div>
    <table class="table custom-table table-striped table-condensed table-hover">
        <thead>
        <tr>
            <th>名称</th>
            <th>编码</th>
            <th width="80px">操作
                <a (click)="openOrgDrop()" class="btn btn-sm iconfont icon-plus text-success" title="新增"
                   *ngIf="!userOrg"></a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="userOrg&&userOrg.organize_id">
            <td class="text-center">
                {{userOrg.organize_name}}
            </td>
            <td class="text-center">
                {{userOrg.code}}
            </td>
            <td class="text-center">
                <a class="hand iconfont icon-delete text-danger" title="删除" (click)="delete(userOrg)"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="text-base text-info text-center" *ngIf="!userOrg || !userOrg.organize_id">
        <p>没有关联的组织</p>
    </div>
</div>