<div class="card border-0 vcenter-wrap">
    <div class="vcenter-wrap-head card-header card-header-dark border-0 py-1 px-2 relative" ngbDropdown>
        <h6 class="p-1 pl-2 pb-0 mb-0 text-base text-white">员工列表</h6>
        <div class="card-header-right center">
            <div class="header-search-input">
                <input type="text" [(ngModel)]="pagination.keyword" placeholder="姓名/工号"
                       (keyup.enter)="search()">
                <a class="iconfont icon-search" (click)="search()"></a>
            </div>
            <div class="btn header-search-btn header-search-icon ml-1">
                <a class="iconfont icon-more clear-icon" ngbDropdownToggle></a>
            </div>
        </div>
        <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" (click)="addUser()">
                <i class="iconfont icon-plus text-success"></i>&#12288;新&#12288;&#12288;增
            </button>
            <button class="dropdown-item" (click)="searchBoxFlag = true">
                <i class="iconfont icon-search text-primary"></i>&#12288;高级查询
            </button>
            <!--<button class="dropdstaffitem">关联组织</button>-->
        </div>
    </div>
    <div class="vcenter-wrap-content card-block mt-0 p-0 text-base" aiScrollBar [alwaysShow]="true" [autoTop]="false"
         [config]="{suppressScrollX:true}">
        <div class="pt-0 pb-0 mb-0 overflow-hidden" *ngIf="searchBoxFlag">
            <div class="high-search pt-3">
                <div class="form-group form-group-sm row">
                    <label for="usear_name" class="col-2 col-form-label col-form-label-sm">姓名工号:</label>
                    <div class="col-3" id="usear_name">
                        <input class="form-control form-control-sm" type="text"
                               [(ngModel)]="pagination.keyword"
                               placeholder="用户姓名">
                    </div>
                    <label for="bill_id" class="col-2 col-form-label col-form-label-sm">手机号码:</label>
                    <div class="col-3" id="bill_id">
                        <input class="form-control form-control-sm" type="text"
                               [(ngModel)]="pagination.bill_id"
                               placeholder="手机号码">
                    </div>
                </div>
                <div class="form-group form-group-sm row">
                    <div class="col-12 text-center">
                        <button class="btn btn-primary px-3 py-1 border-radius btn-sm hand"
                                (click)="search()">查&#12288;询
                        </button>
                        <button class="btn px-3 py-1 border-radius btn-sm ml-1 mr-1 hand"
                                (click)="searchBoxFlag = false">关&#12288;闭
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table custom-table table-striped table-condensed table-hover">
            <thead>
            <tr>
                <th width="60px">序号</th>
                <th>员工姓名</th>
                <th>工号</th>
                <th>手机号码</th>
                <th width="120px">操作
                    <a class="btn btn-sm iconfont icon-plus text-success" title="新增"
                       (click)="addUser()" *ngIf="currentOrg && currentOrg.organize_id"></a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" *ngFor="let item of userList;let i = index;" id="{{item.staff_id}}">
                <td class="text-primary">{{i+1}}</td>
                <td>{{item.employee_name}}</td>
                <td>{{item.code}}</td>
                <td>{{item.bill_id}}</td>
                <td>
                    <a class="btn btn-sm iconfont icon-edit text-info" title="编辑"
                       (click)="editUser(item)"></a>
                    <a class="btn btn-sm iconfont icon-delete text-danger" title="删除"
                       (click)="deleteUser(item)"></a>
                </td>
            </tr>
            </tbody>
        </table>
        <ai-pagination [pageSize]="pagination.page_size" [collectionSize]="pagination.row_count"
                       [pageNo]="pagination.page_no" *ngIf="pagination.row_count"
                       (onPageChange)="onPageChange($event)"></ai-pagination>
        <div class="text-base text-info text-center" *ngIf="!pagination.row_count">
            <p>没有匹配的数据</p>
        </div>
    </div>
    <div class="right-model" *ngIf="currentItem">
        <div class="right-model-bg" *ngIf="rightModel === 'show'" (click)="closeRight(0)"></div>
        <div class="right-model-content" [class.right-fade-in]="rightModel==='show'"
             [class.right-fade-out]="rightModel==='hide'" [ngStyle]="{width:'78%',height:'90%'}">
            <ai-system-user-edit [editedUser]="currentItem" (onCancel)="closeRight(0)"
                                 (onSubmitSuccess)="onSubmitSuccess($event)"></ai-system-user-edit>
        </div>
    </div>
</div>