<div class="right-editor-wrap">
    <div class="card border-0 editor-head">
        <div class="card-header p-0 border-0 bg-transparent">
            <a class="btn btn-back iconfont icon-back rolate180 flipx py-1 px-2 hand"
                    (click)="_onCancel()"></a>
        </div>
        <div class="card-header text-headline border-0 bg-transparent py-0 relative">
            <h6 class="border-theme border-bottom px-0 py-2 m-0 text-headline">用户信息</h6>
            <div class="absolute-top-right pr-3">
                <button class="btn btn-sm btn-primary border-radius hand" (click)="addUser(form)"
                        *ngIf="!editedUser.staff_id && !readonly"
                        [class.btn-danger]="!form.valid" [disabled]="!form.valid">新&#12288;增
                </button>
                <button class="btn btn-sm btn-primary border-radius hand" (click)="editUser(form)"
                        *ngIf="editedUser.staff_id && !readonly"
                        [class.btn-danger]="!form.valid" [disabled]="!form.valid">修&#12288;改
                </button>
                <button class="btn btn-sm border-radius hand" (click)="_onCancel()" *ngIf="!readonly">返&#12288;回</button>
            </div>
        </div>
    </div>
    <div class="editor-content" aiScrollBar [alwaysShow]="true">
        <div class="card border-0">
            <div class="card-block text-base form-sm">
                <form name="form" #form="ngForm">
                    <div class="form-group form-group-sm row">
                        <label class="col-form-label col-form-label-sm col-2 w-12">用户姓名</label>
                        <div class="col-3 w-21">
                            <input class="form-control form-control-sm" type="text" name="employee_name" maxlength="50"
                                   required [(ngModel)]="editedUser.employee_name" placeholder="用户姓名">
                        </div>
                        <label class="col-form-label col-form-label-sm col-2 w-12">员工工号</label>
                        <div class="col-3 w-21">
                            <input class="form-control form-control-sm" type="text" name="code" maxlength="50"
                                   [(ngModel)]="editedUser.code" placeholder="员工工号" required>
                        </div>
                        <label class="col-form-label col-form-label-sm col-2 w-12">手机号码</label>
                        <div class="col-3 w-21">
                            <input class="form-control form-control-sm" type="tel" name="bill_id"
                                   required [(ngModel)]="editedUser.bill_id" placeholder="手机号码">
                        </div>
                    </div>
                    <div class="form-group form-group-sm row">
                        <label class="col-form-label col-form-label-sm col-2 w-12">用户密码</label>
                        <div class="col-3 w-21">
                            <input class="form-control form-control-sm" type="password" name="new_password" maxlength="50"
                                   required [(ngModel)]="editedUser.password" placeholder="创建用户密码"
                                   *ngIf="!editedUser.staff_id">
                            <input class="form-control form-control-sm" type="password" name="update_password" maxlength="50"
                                   [(ngModel)]="editedUser.password" placeholder="用户密码修改" *ngIf="editedUser.staff_id">
                        </div>
                        <label class="col-form-label col-form-label-sm col-2 w-12">密码确认</label>
                        <div class="col-3 w-21">
                            <input class="form-control form-control-sm" type="password" name="validate_password" maxlength="50"
                                   required [(ngModel)]="validate_password" placeholder="密码修改确认"
                                   *ngIf="!editedUser.staff_id">
                            <input class="form-control form-control-sm" type="password" name="validate_password" maxlength="50"
                                   [(ngModel)]="validate_password" placeholder="密码修改确认" *ngIf="editedUser.staff_id">
                        </div>
                    </div>
                    <div class="form-group form-group-sm row">
                        <label class="col-form-label col-form-label-sm col-2 w-12">职责</label>
                        <div class="col-3 w-21">
                            <ai-dict-select [obj]="editedUser" [fieldName]="'religion'" [dictType]="'RELIGION'"></ai-dict-select>
                        </div>
                        <label class="col-form-label col-form-label-sm col-2 w-12">电子邮箱</label>
                        <div class="col-3 w-21">
                            <input class="form-control form-control-sm" type="email" name="email" maxlength="50"
                                   required [(ngModel)]="editedUser.email" placeholder="电子邮箱 example@mail.com">
                        </div>
                        <label class="col-form-label col-form-label-sm col-2 w-12">状态</label>
                        <div class="col-3 w-21">
                            <select class="form-control form-control-sm" name="state" [(ngModel)]="editedUser.state" required>
                                <option value=1>正常</option>
                                <option value=0>注销</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-group-sm row">
                        <label class="col-form-label col-form-label-sm col-2 w-12">组织机构</label>
                        <div class="col-8 w-88" ngbDropdown #orgDrop="ngbDropdown" [autoClose]="false">
                            <input type="hidden" name="organize_id" required>
                            <div class="input-group">
                                <input type="text" name="organize_name" class="form-control form-control-sm" [(ngModel)]="editedUser.organize_name" required readonly placeholder="组织机构">
                                <div class="input-group-addon py-0 iconfont icon-search border-0 hand bg-transparent text-primary" (click)="orgDrop.open()"></div>
                            </div>
                            <div class="dropdown-menu dropdown-menu-right p-0" style="width:90%;height: 240px;">
                                <ai-selector-org class="w-100 h-100" [checkbox]="false" [needButton]="true" (onCancel)="orgDrop.close()" (onSubmit)="orgDrop.close();onSelectOrg($event)"></ai-selector-org>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm row">
                        <label class="col-form-label col-form-label-sm col-2 w-12">备注</label>
                        <div class="col-8 w-88">
                            <textarea class="form-control form-control-sm" rows="5" name="notes" maxlength="100"
                               [(ngModel)]="editedUser.notes" placeholder="备注"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card border-0">
            <div class="card-block pt-0">
                <ul class="nav main-nav nav-tabs">
                    <!--<li class="nav-item">
                        <a class="nav-link" (click)="nav = 1" [ngClass]="{'active': nav === 1}">关联组织</a>
                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" (click)="nav = 2" [ngClass]="{'active': nav === 2}">岗位授权</a>
                    </li>
                </ul>
                <div class="tab-content main-tab-content text-base">
                    <!--<div class="tab-pane" [ngClass]="{'active': nav === 1}">
                        <ai-system-user-org [user]="editedUser" *ngIf="editedUser&&editedUser.staff_id"></ai-system-user-org>
                    </div>-->
                    <div class="tab-pane" [ngClass]="{'active': nav === 2}">
                        <ai-system-user-station [user]="editedUser" *ngIf="editedUser&&editedUser.staff_id"></ai-system-user-station>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>