<div class="right-editor-wrap">
    <div class="card border-0 editor-head">
        <div class="card-header p-0 border-0 bg-transparent">
            <a class="btn iconfont icon-back rolate180 flipx pt-1 pb-1 pl-2 pr-2" (click)="_onCancel()"></a>
        </div>
        <div class="card-header text-headline border-0 bg-transparent py-0 relative">
            <h6 class="border-theme border-bottom px-0 py-2 m-0 text-headline">组织类型</h6>
            <div class="absolute-top-right pr-3">
                <button class="btn btn-sm btn-primary border-radius hand" (click)="add(form)"
                        *ngIf="!orgtype.organize_type_id && !orgtype.readonly"
                        [class.btn-danger]="!form.valid" [disabled]="!form.valid">新&#12288;增
                </button>
                <button class="btn btn-sm btn-primary border-radius hand" (click)="edit(form)"
                        *ngIf="orgtype.organize_type_id && !orgtype.readonly"
                        [class.btn-danger]="!form.valid" [disabled]="!form.valid">修&#12288;改
                </button>
                <button class="btn btn-sm border-radius hand" (click)="_onCancel()" *ngIf="!orgtype.readonly">返&#12288;回</button>
            </div>
        </div>
    </div>
    <div class="editor-content" aiScrollBar [alwaysShow]="true">
        <form name="form" #form="ngForm" class="card-block text-base form-sm">
            <div class="form-group form-group-sm row">
                <label class="col-form-label col-form-label-sm col-2">类型名称</label>
                <div class="col-8">
                    <input class="form-control form-control-sm" type="text" name="name" maxlength="20"
                           required [(ngModel)]="orgtype.organize_type_name" placeholder="类型名称">
                </div>
            </div>
            <div class="form-group form-group-sm row">
                <label class="col-form-label col-form-label-sm col-2">类型编码</label>
                <div class="col-8">
                    <input class="form-control form-control-sm" type="text" name="code" maxlength="20"
                           [(ngModel)]="orgtype.code" placeholder="系统自动生成" *ngIf="!orgtype.readonly" readonly >
                    <span class="col-form-label-sm" *ngIf="orgtype.readonly">{{orgtype.code}}</span>
                </div>
            </div>
            <div class="form-group form-group-sm row">
                <label class="col-form-label col-form-label-sm col-2">备注</label>
                <div class="col-8">
                    <textarea class="form-control form-control-sm" rows="5" name="notes" maxlength="200"
                              [(ngModel)]="orgtype.notes" placeholder="备注" required></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="text-right p-1">
        <a class="btn btn-primary btn-round iconfont icon-edit" *ngIf="orgtype.readonly"
           (click)="optype.readonly = false;" title="编辑"></a>
    </div>
</div>